.head {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Icon {
  font-size: 1.7rem;
}

.head h3 a {
  text-decoration: none;
  color: #69123c;
}

.Setting {
  margin-right: 12px;
}
