.Fetch-home {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.Main-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.Fetch-home li {
  max-height: 250px;
  max-width: 300px;
  min-height: 150px;
  min-width: 120px;
  list-style: none;
  width: 50%;
}

.Fetch-home li:first-child,
.Fetch-home li:nth-child(4n),
.Fetch-home li:nth-child(4n+1) {
  background-color: #d15b9d;
}

.Fetch-footer {
  display: flex;
  width: 100%;
  flex-direction: column;
  color: #fefaeda1;
  text-align: end;
  position: relative;
  bottom: -19px;
}

.bold {
  font-weight: bold;
  color: #fff;
}

.align {
  text-align: end;
}

.Button {
  border: none;
  background: transparent;
  font-size: 1.4rem;
  cursor: pointer;
}

.align-item {
  bottom: 18px;
}

.Fetch-footer p {
  display: flex;
  flex-direction: column;
}

.Search {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 1.3rem;
}

.input-search,
.submit-search {
  background-color: #d15b9d;
  border: 1px solid #a52a2aa8;
  border-radius: 4px;
  color: #fff;
}
