@keyframes fade {
  0% { opacity: 0%; }
  25% { opacity: 25%; }
  50% { opacity: 50%; }
  75% { opacity: 70%; }
  100% { opacity: 100%; }
}

.Company-Income {
  width: 100%;
  margin: 0;
}

.Company-Income h2 {
  text-align: center;
}

.Company-all-Cost {
  line-height: 49px;
}

.Company-all-Cost h4 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.Company-all-Cost h4 span {
  font-size: 1.3rem;
  font-weight: bolder;
}

.Company-Income h4:nth-child(even) {
  background-color: #d15b9d6b;
  border-radius: 5px;
}

.Value {
  display: flex;
  align-items: center;
  font-size: 1rem !important;
}

.IC-icone {
  color: white;
}

.Stock-single-main-data {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.Stock-single-box {
  width: 45%;
  height: 12rem;
  border: 2px solid #ababab;
  padding: 1%;
  animation-name: fade;
  animation-duration: 3s;
}

.Stock-single-heading {
  color: #70701e;
}

.Stock-single-footor {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: flex-end;
  line-height: 1px;
  position: relative;
  top: 61px;
  color: #ffffffa5;
}

@media screen and (max-width: 425px) {
  .Stock-single-box {
    width: 76%;
    height: 10rem;
  }

  .Stock-single-footor {
    top: 29px;
  }
}
